<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>com.supmessaging.servlets.librairies.FileServlet</servlet-class>
        <init-param>
            <param-name>basePath</param-name>
            <param-value>/WEB-INF/static</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.supmessaging.servlets.Home</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <!-- Servlet de la page de connexion -->
        <servlet-name>Connection</servlet-name>
        <servlet-class>com.supmessaging.servlets.Connection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connection</servlet-name>
        <url-pattern>/connect</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <!-- Servlet de la page de contact -->
        <servlet-name>Contact</servlet-name>
        <servlet-class>com.supmessaging.servlets.Contact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <!-- Servlet de la page de Registration -->
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.supmessaging.servlets.Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <!-- Servlet de déconnexion -->
        <servlet-name>LogOut</servlet-name>
        <servlet-class>com.supmessaging.servlets.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/goodbye</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <!-- Servlet de modification des informations du compte -->
        <servlet-name>Profile</servlet-name>
        <servlet-class>com.supmessaging.servlets.Profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    
    <servlet>  
        <!-- Servlet de boite de reception -->
        <servlet-name>Inbox</servlet-name>
        <servlet-class>com.supmessaging.servlets.Inbox</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inbox</servlet-name>
        <url-pattern>/inbox</url-pattern>
    </servlet-mapping>
    
    <servlet> 
        <!-- Servlet d'ajout d'utilisateurs -->
        <servlet-name>UserSearch</servlet-name>
        <servlet-class>com.supmessaging.servlets.UserSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSearch</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    
    <servlet> 
        <!-- Servlet affichant les relations de l'utilisateur -->
        <servlet-name>MyFriends</servlet-name>
        <servlet-class>com.supmessaging.servlets.MyFriends</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyFriends</servlet-name>
        <url-pattern>/myFriends</url-pattern>
    </servlet-mapping>
</web-app>
