html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
}

.error-field {
    color: #C12E2A;
}

.form-alert {
    margin-left : auto;
    margin-right : auto;
    margin-top : 10px;
    max-width : 800px;
}

.space-between {
    margin : 8px;
}

.box {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    height: 320px;
}

#inbox {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    border: 1px solid #c3c3c3;
}

#inbox > div {
    height: 100%;
}

#messagesList {
    border-right: 1px solid #c3c3c3;
    background-color: #d7d7d7;
}

#conversation {
    background-color: #f4f4f4;
}

.messageItem {
    background-color: #f4f4f4;
    padding: 5px;
    border-radius: 5px;
}

.informations {
    border-top: 1px solid #424242;
    margin-top: 5px;
    padding-top: 5px;
    font-size: 10pt;
}
.messageItem .answers {
    float: right;
}
.messageItem .date {
    float: left;
}

.bubble {
    background-color: #fafafa;
    width: 45%;
    border: 1px solid #424242;
    border-radius: 10px;
    padding: 10px;
}
.bubble.me {
    float: right;
}
.bubble.you {
    float: left;
}

.bubble .author {
    float: left;
}
.bubble .date {
    float: right;
}

#conversation #input {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

#conversation #input textarea {
    border-radius: 0px;
    background: white;
    border: none;
    border-top: 1px solid #424242;
    width: 100%;
    height: 100px;
}

.clear {
    clear: both;
}
// ----------------------------------
//         MEDIA QUERIES
// ----------------------------------

@media all and (max-width: 800px) {
  .form-style, .form-alert {
    max-width : 95%;
  }
}